body {
	background-color: #a3b18a;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	box-sizing: border-box;
	color: #333;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: stretch;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */

header {
	height: 10%;
	width: 100%;
}

.content {
	width: 100%;
	padding: 0 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
}

.tasks-container {
	width: 70%;
	text-align: center;
	min-height: 100%;
	display: flex;
	margin-right: 20px;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}

.form {
	width: 30%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.form h2 {
	margin: 0;
	text-align: center;
}

.form form {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form label {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
}

form input {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid #333;
}

.taskItem {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-size: 20px;
	font-weight: bold;
}

form input:focus {
	outline: none;
}

form input[type="button"],
input[type="submit"] {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}

form input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #555;
}
.tasks-container h2 {
	margin: 0;
}

.tasks-list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.propTab {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 10px;
	position: relative;
}

.cancel {
	position: absolute;
	right: 0;
	top: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 0 10px;
	background-color: #333;
	border: none;
	border-radius: 4px;
}

.taskItem {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-wrap: wrap;
	transition: all 0.3s ease-in-out;
}

#selected {
	background-color: #333 !important;
	color: white;
}

.taskItem:hover {
	background-color: #333;
	cursor: pointer;
	color: white;
}

footer {
	width: 100%;
	max-height: 80px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #b9c8a0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.selected {
	background-color: #333;
	color: white;
}

.properties {
	width: 100%;
	height: 300px;
	display: flex;
	margin-top: 50px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.properties div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.props {
	width: 100%;
	margin-top: 20px;
	min-height: 200px;
	display: flex;
	font-size: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

input {
	font-size: 20px;
}
